.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
*.tfvars
*.tfvars.json
tfplan
*.tfplan
rendered/
node_modules/
